@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h3 class="text-center">Caption</h3>
        
        <img class="img-circle" src="~/Content/Images/Koala.jpg" alt="Caption" height="450" width="450" />
            
        <p>Comment</p>
        <p>Comment</p>
        <p>Comment</p>
        
    </div>
</div>