@using RoastMeApplication.Models.Entities;
@using RoastMeApplication.Models.DAL;
@{
    ViewBag.Title = "Home Page";

    List<Picture> pictures = this.ViewBag.Pictures as List<Picture>;
    
    double pages = ViewBag.pages;
    List<Comment> comments = new List<Comment>();
}
<div class="page-header row">
    <h2 class="text-warning"><span class="glyphicon glyphicon-fire"></span> Check out our hottest and newest roasts!</h2>

    <h4><a href="?ListSort=Recent"><span class="glyphicon glyphicon-time"></span> Recent</a>    <a href="?ListSort=Popular" class="text-danger"><span class="glyphicon glyphicon-heart"></span> Popular</a></h4>
</div>


@if (pictures != null)
{
    foreach (Picture p in pictures)
    {
        <div class="row">
            <a href="#">
            <div class="picture_index col-md-6">
                <h3>@p.Caption - @p.Participant.Username</h3>
                <hr />
                <img class="img-circle" src="~/Content/Images/@p.ImagePath" alt="Caption" height="450" width="450" />
                 @{
                     comments = CommentsManage.GetCommentByPictureId(p.Id);
    
                  }
                 @if (comments != null && comments.Count != 0)
                 {
                     foreach (Comment c in comments)
                     {
                        <p>@c.Message</p>
                     }
                 }
                 <h4>...</h4>
             </div>
             </a>
        </div>
    }
}


<div class="row">
    @{
        for (int i = 1; i <= pages; i++)
        {
            <a href="?page=@i" class="page">@i</a>
        }
    }
</div>
