@using RoastMeApplication.Models.Entities;
@using RoastMeApplication.Models.DAL;
@{
    ViewBag.Title = "Home Page";
    List<Picture> pictures = this.ViewBag.Pictures as List<Picture>;

    double pages = ViewBag.pages;
}
@*SEPARATION FROM PICTURE AND COMMENTS (UP PICTURE, DOWN COMMENTS)*@

<div>
    
</div>