@using RoastMeApplication.Models.Entities;
@using RoastMeApplication.Models.DAL;
@{
    ViewBag.Title = "Home Page";
    Picture p = this.ViewBag.picture as Picture;
    if(Session["participantID"] != null) {
        Participant CurrentParticipant = ViewBag.Participant as Participant;
    }
}

<div class="row">

    <div class="picture_index">
        <div id="userInfo">
            <p class="index_username">@p.Participant.Username</p>
            <p class="index_caption">@p.Caption</p>
        </div>


        <hr />
            <img class="img-circle" src="~/Content/Images/@p.ImagePath" alt="Caption" height="450" width="450" />
            
            <hr />
        @*SEPARATION OF PICTURE ^ AND COMMENTS v *@


        @{
            List<Comment> comments = p.Comments.OrderByDescending(c => c.Time).ToList();
        }

        @if (comments != null && comments.Count != 0)
        {
            foreach (Comment c in comments)
            {
                int score = 0;
                foreach (Vote v in c.Votes)
                {
                    if (v.IsLike == true)
                    {
                        score++;
                    }else if(v.IsLike == false)
                    {
                        score++;
                    }
                }
                <div id="commentInfo">
                    <p class="index_username">@c.Participant.Username</p>
                    <p class="index_caption">@c.Message</p>
                    <hr />
                </div>

                <div id="score">
                    <p>score</p>
                    @using (Html.BeginForm("SubmitComment", "Comment", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="s" value=""/>
                    }
                    @using (Html.BeginForm("SubmitComment", "Comment", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="submit" value="Flag"/>
                    }
                </div>
            }
        }


    </div>

</div>


