@using RoastMeApplication.Models.Entities;
@using RoastMeApplication.Models.DAL;
@{
    ViewBag.Title = "Home Page";
    Picture p = this.ViewBag.picture as Picture;
    Participant CurrentParticipant = null;
    if (Session["participantID"] != null) {
        CurrentParticipant = ViewBag.Participant as Participant;
    }
}

<div class="row">

    <div class="picture_index">
        <div id="userInfo">
            <p class="index_username">@p.Participant.Username</p>
            <p class="index_caption">@p.Caption</p>
        </div>


        <hr />
            <img class="img-circle" src="~/Content/Images/@p.ImagePath" alt="Caption" height="450" width="450" />
            
            <hr />
        @*SEPARATION OF PICTURE ^ AND COMMENTS v *@


        @{
            List<Comment> comments = p.Comments.OrderByDescending(c => c.Time).ToList();
        }

        @if (comments != null && comments.Count != 0)
        {
            foreach (Comment c in comments)
            {

                //String Islike = "white"; // blue is false red is true  green is null white is not exist
                //if(c.Votes!=null && c.Votes.Count != 0)
                //{
                //    int score = 0;
                //    foreach (Vote v in c.Votes)
                //    {
                //        if (v.IsLike == true)
                //        {
                //            score++;
                //        }
                //        else if (v.IsLike == false)
                //        {
                //            score++;
                //        }
                //        if (v.ParticipantId == CurrentParticipant.Id)
                //        {
                //            if (v.IsLike == null)
                //            {
                //                Islike = "green";
                //            }
                //            else if (v.IsLike == true)
                //            {
                //                Islike = "red";
                //            }
                //            else if (v.IsLike == false)
                //            {
                //                Islike = "blue";
                //            }
                //        }
                //    }
                //}

                <div id="commentInfo">
                    <p class="index_username">@c.Participant.Username</p>
                    @if (c.Message != null)
                    {
                        <p class="index_caption">@c.Message</p>
                    }
                   
                    <hr />
                </div>

                <div id="score">
                    <p>1</p>
                    <input class="comment_id" type="hidden" value=@c.Id/>
                    <input  class="part_id" type="hidden" value=@CurrentParticipant.Id/>
                    <button class="like" style="background-color:white">like</button>
                    <button class="dislike" style="background-color:wheat">dislike</button>
                    <button class="flag">dislike</button>
                </div>
            }
        }


    </div>

</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(document).ready(function () {
        var JsonResult;
        $('.like').click(function () {
            var part_id= this.prev('input').val();
            var comment_id = this.prev('input').prev('input').val();
            alert(comment_id + " " + part_id);
            JsonResult = "{'IsLike':1,'ParticipantId': " + part_id + ",'CommentId':+"+comment_id+"}";
            JsonResult = "{'IsLike':-1,'ParticipantId': " + part_id + ",'CommentId':+" + comment_id + "}";
        });
        $('.dislike').click(function () {
            JsonResult = "{'IsLike':0,'ParticipantId': " + part_id + ",'CommentId':+" + comment_id + "}";
            JsonResult = "{'IsLike':-1,'ParticipantId': " + part_id + ",'CommentId':+" + comment_id + "}";
        });
        $('.flag').click(function () {
            JsonResult = "{'IsFlagged':1,'CommentId':+" + comment_id + "}";
        });
        $.ajax({ cache: false });
     });

</script>
